$kosugiMaru: "Kosugi Maru", sans-serif;
$baseColor: #fffbd6;
$subColor: #fffdee;
$textColor: #ce1e84;
$inpresiveColor: #ffeb3c;

@use "sass:math";

@mixin tb {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 768px) {
    @content;
  }
}

:root {
  --viewport: 1920;

  @media (max-width: 1000px) {
    --viewport: 1200;
  }

  @media (max-width: 768px) {
    --viewport: 768;
  }
}

@function pxtovw($num) {
  @return calc(1vw * $num / var(--viewport) * 100);
}

html {
  scroll-behavior: initial;
  width: 100%;
}

body {
  background-color: $baseColor;
  font-family: "noto-sans-cjk-jp", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
  min-height: 100%;
  @include sp() {
    font-size: 14px;
  }
}

h2 {
  color: $textColor;
  font-weight: bold;
  font-size: max(pxtovw(45), 22px);
  line-height: max(pxtovw(62), 39px);
  @include sp() {
    line-height: max(pxtovw(62), 30px);
  }
  &.word {
    display: block;
    overflow: hidden;
    position: relative;
    font-weight: 900;
    width: fit-content;
    .rect {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $inpresiveColor;
      top: 0;
      left: 0;
    }
  }
}

h3 {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: bold;
  font-size: max(pxtovw(22), 16px);
  white-space: nowrap;
}

p,
dd,
dt {
  font-family: "Kosugi Maru", sans-serif;
  line-height: max(pxtovw(45), 35px);
  font-size: max(pxtovw(16), 14px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 9999;
  > div {
    > a {
      > img {
        width: max(pxtovw(174), 120px);
      }
    }
  }
  nav {
    margin-right: 60px;
    @include tb() {
      position: absolute;
      background: white;
      top: 0;
      transform: translateX(100%);
      width: 105%;
      height: 100vh;
      display: none;
      justify-content: center;
      align-items: center;
    }
    ul {
      display: flex;
      column-gap: 25px;
      @include sp() {
        display: grid;
        width: 100%;
      }
      li {
        a {
          padding: 20px 10px;
          white-space: nowrap;
          @include tb() {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
        }
      }
    }
  }
}

.opbtn {
  position: sticky;
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  border: 2px solid $textColor;
  border-radius: 50%;
  display: none;
  @include tb() {
    display: block;
    &:hover {
      cursor: pointer;
    }
  }
  > span {
    &:nth-of-type(1) {
      position: absolute;
      width: 22px;
      height: 1px;
      border-top: 2px solid $textColor;
      display: inline-block;
      margin: auto;
      top: -19px;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:nth-of-type(2) {
      position: absolute;
      width: 22px;
      height: 1px;
      border-top: 2px solid $textColor;
      display: inline-block;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:nth-of-type(3) {
      position: absolute;
      width: 22px;
      height: 1px;
      border-top: 2px solid $textColor;
      display: inline-block;
      margin: auto;
      top: 0;
      bottom: -19px;
      left: 0;
      right: 0;
    }
  }
}

.mv-wrap {
  width: 100%;
  .mv {
    width: 80%;
    height: calc(100vh - 150px);
    margin: 0 0 pxtovw(480) auto;
    background-image: url(../img/mv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 215px 0 0 0;
    position: relative;
    @include tb() {
      margin: 0 0 pxtovw(300) auto;
    }
    @include sp() {
      border-radius: 110px 0 0 0;
      width: 88%;
      height: 140vw;
      margin: 0 0 pxtovw(240) auto;
    }
    .main-title {
      position: absolute;
      margin: auto;
      display: block;
      height: fit-content;
      top: -150px;
      bottom: 0;
      left: -10%;
      @include tb {
        top: 50%;
      }
      &.pc {
        @include sp() {
          display: none;
        }
      }
      &.sp {
        display: none;
        @include tb() {
          display: block;
        }
      }
      h2 {
        color: $textColor;
        font-weight: bold;
        margin: 0 0 20px;
        background: white;
        line-height: initial;
        position: relative;
        width: fit-content;
        &.word {
          display: block;
          overflow: hidden;
          position: relative;
          line-height: 1;
          font-weight: 900;
          padding: pxtovw(15);
          .rect {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: white;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.sec-wrap {
  background-color: $subColor;
  border-radius: 0 pxtovw(176) pxtovw(176) 0;
  width: 90%;
  margin: auto 0 0 0;
  position: relative;
  @include sp() {
    width: 95%;
  }
  &.reverse {
    margin: 0 0 0 auto;
    border-radius: pxtovw(176) 0 0 pxtovw(176);
    .flag {
      position: absolute;
      top: pxtovw(110);
      left: pxtovw(165);
      width: pxtovw(159);
      @include tb() {
        top: pxtovw(64);
        left: pxtovw(115);
        width: pxtovw(104);
      }
    }
  }
  &__inner {
    width: 80%;
    margin: 0 15% 0 5%;
    @include tb() {
      width: 90%;
      margin: 0 5% 0 5%;
    }
    &.reverse {
      margin: 0 5% 0 15%;
    }
    .we-support {
      &__contents {
        display: flex;
        align-items: center;
        column-gap: pxtovw(80);
        padding: pxtovw(200) 0 0;
        &__img {
          @include tb() {
            display: none;
          }
          > img {
            width: pxtovw(308);
          }
        }
        &__text {
          p {
            @include sp() {
              padding: pxtovw(20) 0;
            }
          }
        }
      }
    }
    .marufuji-band {
      width: 100vw;
      position: absolute;
      left: 0;
      overflow: hidden;
    }
    > .woman2 {
      position: absolute;
      right: pxtovw(-123);
      bottom: pxtovw(-65);
      width: pxtovw(347);
      @include tb() {
        right: pxtovw(-34);
        bottom: pxtovw(-111);
        width: pxtovw(260);
      }
      @include sp() {
        right: 0;
      }
    }
  }
  .side-img {
    position: absolute;
    right: -11%;
    top: calc(0px - pxtovw(200));
    z-index: 0;
    width: 31.93vw;
    max-height: 445px;
    max-width: 613px;
    @include sp() {
      top: calc(0px - pxtovw(65));
      right: -5%;
    }
  }
  .bag-camera {
    position: absolute;
    display: inline-block;
    height: fit-content;
    top: pxtovw(-70);
    right: 39%;
    @include tb() {
      top: pxtovw(10);
    }
    @include sp() {
      top: pxtovw(40);
      right: 70%;
    }
    .camera {
      width: 6.73vw;
    }
    .bag {
      width: 6.93vw;
    }
  }
  .woman3 {
    position: absolute;
    left: pxtovw(-75);
    bottom: pxtovw(-165);
    width: pxtovw(270);
    @include tb() {
      left: pxtovw(5);
      bottom: pxtovw(-90);
      width: pxtovw(180);
    }
  }
}

.animation-text {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100vw;
  height: pxtovw(514);
  margin: pxtovw(60) 0 pxtovw(150) -7.8%;
  position: relative;
  @include tb() {
    height: pxtovw(300);
  }
  &__content {
    display: inline-block;
    color: $inpresiveColor;
    white-space: nowrap;
    font-size: pxtovw(545);
    animation: text_scroll 20s linear infinite;
    font-family: "Sarabun", sans-serif;
    font-weight: 800;
    @include tb() {
      font-size: pxtovw(350);
    }
  }
  &__above {
    position: absolute;
    right: 0;
    width: pxtovw(557);
    z-index: 1;
    @include tb() {
      width: pxtovw(400);
    }
  }
  @keyframes text_scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.sec-bus {
  display: flex;
  column-gap: pxtovw(70);
  padding: 0 0 pxtovw(85);
  align-items: center;
  @include tb() {
    display: grid;
    justify-content: center;
    padding: 0 0 pxtovw(180);
  }
  &__text {
    width: pxtovw(640);
    > p {
      @include sp() {
        padding: pxtovw(20) 0;
      }
    }
    br {
      @include sp() {
        display: none;
      }
    }
    @include tb() {
      width: 90%;
      margin: auto;
    }
    h2 {
      white-space: nowrap;
    }
  }
  &__button {
    margin: pxtovw(50) 0 0;
    .btn {
      @include sp() {
        margin: auto;
      }
    }
  }
}

.bus-valiable {
  position: relative;
  > img {
    position: absolute;
  }
  ul {
    li {
      display: grid;
      align-items: center;
      .bus-valiable__img {
        width: pxtovw(600);
        height: pxtovw(400);
        display: flex;
        justify-content: center;
        align-items: center;
        @include tb() {
          width: pxtovw(400);
          height: pxtovw(320);
        }
        img {
          width: pxtovw(500);
          @include tb() {
            width: pxtovw(350);
          }
        }
      }
      .bus-valiable__text {
        text-align: center;
      }
    }
  }
}

.btn {
  display: block;
  text-align: center;
  padding: max(pxtovw(15), 12px) 0;
  width: max(pxtovw(220), 180px);
  border-radius: 50px;
  background-color: white;
  border: 1px solid black;
  margin: 0 0 0 auto;
  font-size: max(pxtovw(16), 14px);
  &:hover {
    background-color: $inpresiveColor;
    transition: all 0.2s;
    border: white solid 1px;
  }
}

.sec-top-pic {
  &__block {
    position: relative;
    height: pxtovw(455);
    &__inside {
      position: absolute;
      left: pxtovw(470);
      top: pxtovw(50);
      width: pxtovw(465);
      @include tb() {
        left: pxtovw(165);
        top: pxtovw(50);
        width: pxtovw(300);
      }
      @include sp() {
        left: pxtovw(121);
        top: pxtovw(37);
        width: pxtovw(300);
      }
    }
    &__bus {
      position: absolute;
      right: pxtovw(232);
      bottom: pxtovw(-150);
      width: pxtovw(649);
      z-index: 1;
      @include tb() {
        left: pxtovw(519);
        top: pxtovw(224);
        width: pxtovw(395);
      }
      @include sp() {
        left: pxtovw(372);
        top: pxtovw(282);
        width: pxtovw(330);
      }
    }
  }
}

.customer-info {
  padding: pxtovw(290) 0 pxtovw(270);
  @include tb() {
    padding: pxtovw(182) 0 pxtovw(180);
  }
  &__title {
    text-align: center;
    margin: 0 0 50px;
  }
  &__contents {
    display: flex;
    justify-content: center;
    column-gap: max(pxtovw(40), 35px);
    row-gap: pxtovw(150);
    @include tb() {
      display: grid;
    }
  }
  &__content-wrap {
    width: max(pxtovw(350), 200px);
  }
  &__content {
    position: relative;
    @include tb() {
      margin: 0 0 0 25px;
    }
    @include sp() {
      margin: auto;
    }
    > img {
      width: max(pxtovw(293), 175px);
      height: max(pxtovw(405), 242px);
      position: relative;
      z-index: 1;
    }
    &__bg {
      width: max(pxtovw(292), 175px);
      height: max(pxtovw(400), 242px);
      position: absolute;
      border-radius: pxtovw(47);
      top: 1px;
      left: 0;
      z-index: 0;
      &.pink {
        background-color: #ffa4a9;
      }
      &.yellow {
        background-color: #ffca43;
      }
      &.orange {
        background-color: #ff9979;
      }
    }
    &__title {
      height: pxtovw(85);
      display: flex;
      align-items: center;
      margin: pxtovw(25) 0 0;
      @include tb() {
        justify-content: center;
      }
      @include sp() {
        height: auto;
        margin: pxtovw(50) 0 pxtovw(10);
      }
    }
    &__text {
      height: max(pxtovw(160), 150px);
      @include tb() {
        height: auto;
        padding: 10px 0 pxtovw(40);
      }
      p {
        line-height: 32px;
        @include tb() {
          text-align: center;
          br {
            display: none;
          }
        }
      }
    }
    &__button {
      a {
        margin: auto;
      }
    }
  }
}

.sec-news {
  margin: pxtovw(185) 0 0;
  text-align: center;
  position: relative;
  .woman4 {
    position: absolute;
    right: pxtovw(175);
    bottom: pxtovw(-145);
    width: pxtovw(270);
    @include tb() {
      right: pxtovw(55);
      width: pxtovw(180);
    }
  }
  &__empty {
    height: pxtovw(200);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin: 0 0 pxtovw(45);
  }
  &__contents {
    ul {
      li {
        margin: 20px 0;
        a {
          width: pxtovw(1000);
          display: inline-block;
          background: white;
          padding: 10px 0;
          @include sp() {
            width: 90%;
          }
          p {
            display: flex;
            justify-content: flex-start;
            padding-left: pxtovw(300);
            column-gap: max(pxtovw(50), 20px);
            @include sp() {
              padding-left: pxtovw(40);
            }
            span {
              &:nth-of-type(2) {
                display: inline-block;
                text-align: left;
              }
            }
          }
        }
      }
    }
    &__button {
      margin: pxtovw(80) 0;
      a {
        margin: auto;
      }
    }
  }
}

.sec-map {
  display: flex;
  justify-content: center;
  margin: pxtovw(300) 0 pxtovw(100);
  column-gap: max(pxtovw(80), 50px);
  @include tb() {
    display: grid;
    row-gap: pxtovw(120);
  }
  .address-field {
    display: flex;
    column-gap: 20px;
    > dl {
      padding: 0 0 20px;
      > dt {
        font-weight: 100;
        line-height: normal;
        padding: 5px 0;
      }
      > dl {
        padding: 5px 0;
        display: flex;
        > dt {
          font-weight: 100;
          line-height: normal;
          width: 55px;
        }
        > dd {
          line-height: normal;
        }
      }
    }
  }
  iframe {
    width: pxtovw(556);
    height: pxtovw(318);
  }
  .the-map {
    @include sp() {
      display: flex;
      justify-content: center;
    }
  }
}

footer {
  p {
    font-size: 14px;
    text-align: center;
    background-color: #fffdee;
  }
}

.slider {
  width: pxtovw(600);
  height: pxtovw(500);
  margin: 0 40px;
  position: relative;
  overflow: hidden;
  @include tb() {
    width: pxtovw(385);
    height: pxtovw(430);
    margin: auto;
  }
}
